[submodule "ext/physfs"]
	path = ext/physfs
	url = git@github.com:CrossEngine/physfs.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = git@github.com:CrossEngine/glfw.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git@github.com:CrossEngine/spdlog.git
[submodule "ext/catch2"]
	path = ext/catch2
	url = git@github.com:CrossEngine/Catch2.git
[submodule "ext/popl"]
	path = ext/popl
	url = git@github.com:CrossEngine/popl.git
[submodule "ext/glad"]
	path = ext/glad
	url = git@github.com:CrossEngine/glad.git
[submodule "ext/glm"]
	path = ext/glm
	url = git@github.com:CrossEngine/glm.git
